{% include 'head.html' %}
<body>
    {% include 'navbar.html' %}

    <div class="container mt-5">
        <!-- Header Section -->
        <header class="teamdetail-background-section text-center text-white py-3">
            <h3 class="team-member-subtitle">Co Founder & CEO </h3>
            <h1 class="team-member-title">Adrián Rodríguez</h1>
        </header>

        <!-- Profile Section -->
        <div class="row my-4 align-items-center">
            <div class="col-md-6 d-flex justify-content-center">
                <!-- Profile Image -->
                <img src="{{ url_for('static', filename='images/TEAMDETAIL/a.png') }}" class="img-fluid rounded-circle" alt="Adrián Rodríguez" style="max-width: 100%; height: auto;">
            </div>
            <div class="col-md-6">
                <!-- Bio Section -->
                <div class="text-block">
                    <p><strong>Intro:</strong> Adrian is dedicated to public service, leveraging data, technology, and social science to design effective policies.</p>
                    <p><strong>Educational Background:</strong> He holds a master's degree in Public Policy from the Harris School of Public Policy at the University of Chicago, and a bachelor's degree in law from the Autonomous University of Baja California.</p>
                    <p><strong>Professional Experience:</strong> With experience in government, nonprofits, and the private sector, Adrian served as a legal affairs coordinator for the Mexican government and worked at the Consulate of Mexico in Fresno and Chicago, focusing on immigration.</p>
                    <p><strong>Current Role:</strong> Currently, Adrian is the Director of Contract Radar Maximizer at the Illinois Hispanic Chamber of Commerce, where he leads innovative projects to streamline the bidding process for small, minority-owned, and women-owned businesses.</p>
                    <p><strong>Recognition:</strong> Adrian was recognized among the "40 under 40" Latinos by "Negocios Now" in 2024, highlighting his dedication to public service.</p>
                    <p><strong>Personal Background:</strong> Originally from California, Adrian grew up on the Mexico-U.S. border, shaping his bicultural and binational identity. He lives with his wife, Pauleth Jauregui, and daughter, Isabella.</p>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
    {% include 'scripts.html' %}
</body>
