{% include 'head.html' %}
<body>
    {% include 'navbar.html' %}

    <div class="container mt-5">
        <!-- Header Section -->
        <header class="teamdetail-background-section text-center text-white py-3">
            <h3 class="team-member-subtitle">Artificial Intelligence Specialist</h3>
            <h1 class="team-member-title">Magdalena Barros</h1>
        </header>

        <!-- Profile Section -->
        <div class="row my-4 align-items-center">
            <div class="col-md-6 d-flex justify-content-center">
                <!-- Profile Image -->
                <img src="{{ url_for('static', filename='images/TEAMDETAIL/m.png') }}" class="img-fluid rounded-circle" alt="Magdalena Barros" style="max-width: 100%; height: auto;">
            </div>
            <div class="col-md-6">
                <!-- Bio Section -->
                <div class="text-block">
                    <p><strong>Intro:</strong> Maria Magdalena Barros is a master's student in Computational Analysis and Public Policy at the University of Chicago, expected to graduate in June 2025. With a strong background in data analytics and technology, she is eager to leverage her skills in the role of Artificial Intelligence Specialist Intern at Contract Radar Maximizer.</p>
                    <p><strong>Career Journey:</strong> Magdalena has extensive experience in data analysis tools such as Python, R, and SQL, which she utilized during her tenure at the Ministry of Education of Chile. There, she led a team of seven data analysts to develop and monitor management instruments and indicators for various public education services across different regions.</p>
                    <p><strong>Professional Experience:</strong> Her professional journey is marked by her involvement in Chile's first National Strategy for Public Education 2020-2028, where she honed her ability to solve complex problems and communicate effectively with her team to achieve valuable results. Her commitment to empathetic and responsible relationships with groups, clients, and individuals is demonstrated through her work as a teacher with Teach for America / Enseña Chile, showcasing her strong interpersonal, drafting, and communication skills.</p>
                    <p><strong>Alignment with Contract Radar Maximizer:</strong> Magdalena's dedication to using data-driven decision-making processes to impact communities positively aligns with her interest in the AI Specialist Intern position at Contract Radar Maximizer. She is committed to bringing her capabilities to add value and impact to Contract Radar Maximizer's work and looks forward to discussing how she can contribute to the organization's initiatives.</p>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
    {% include 'scripts.html' %}
</body>
