{% include 'head.html' %}
<body>
    {% include 'navbar.html' %}

    <div class="container mt-5">
        <!-- Header Section -->
        <header class="teamdetail-background-section text-center text-white py-3">
            <h3 class="team-member-subtitle">Artificial Intelligence Business Manager Intern </h3>
            <h1 class="team-member-title"> Rodrigo Montesinos</h1>
        </header>

        <!-- Profile Section -->
        <div class="row my-4 align-items-center">
            <div class="col-md-6 d-flex justify-content-center">
                <!-- Profile Image -->
                <img src="{{ url_for('static', filename='images/TEAMDETAIL/rm.png') }}" class="img-fluid rounded-circle" alt="Zirong Li" style="max-width: 100%; height: auto;">
            </div>

            <div class="col-md-6">
                <!-- Bio Section -->
                <div class="text-block">
                    <p><strong>Intro:</strong> Rodrigo is highly passionate about business and technology, always focused on finding the best ways to combine both fields to drive innovation and success.</p>
                    
                    <p><strong>Educational Background:</strong> He is currently studying international business at the National Autonomous University of Mexico (UNAM), where he has developed a strong foundation in global trade dynamics and business management strategies.</p>
                    
                    <p><strong>Professional Experience:</strong> Rodrigo has led and participated in several entrepreneurial projects, successfully creating and managing businesses with impressive results. One of his most notable projects earned him recognition at the prestigious UNAM Forum for Linkage and Entrepreneurship.</p>
                    
                    <p><strong>Current Role:</strong> At present, Rodrigo is completing his professional internship at the Chamber, where he supports the marketing department and collaborates closely with the sales team to craft strategies that foster sustainable business growth.</p>
                    
                    <p><strong>Recognition:</strong> Among his achievements, Rodrigo is especially proud of receiving an award at the Forum for Linkage and Entrepreneurship — a testament to his innovative thinking and ability to craft impactful business proposals.</p>
                    
                    <p><strong>Personal Background:</strong> Originally from Mexico City and 22 years old, Rodrigo brings a determined and forward-looking mindset to everything he does. His sharp intuition and relentless drive push him to continually pursue new goals and overcome challenges on his path to success.</p>
                </div>
            </div>
            
            
           

            
       
        </div>
    </div>

    {% include 'footer.html' %}
    {% include 'scripts.html' %}
</body>
