{% include 'head.html' %}
<body>
    {% include 'navbar.html' %}

    <div class="container main-container">
        <div class="container">
            <div class="text-center mb-4">
                <br>
                <h1 class="login-signup-title">SIGN UP FOR CS BUILDER</h1>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    {% if error %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Oops! Something went wrong:</strong><br>{{ error }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}

                    <form method="POST" action="{{ url_for('signupCSBuilder') }}">
                        <div class="form-group">
                            <label for="email" style="color: #55666D;">Email</label>
                            <input type="email" class="form-control" name="email" placeholder="Enter your email" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="username" style="color: #55666D;">Username</label>
                            <input type="text" class="form-control" name="username" placeholder="Choose a username" required>
                        </div>
                        <br>
                        <div class="form-group position-relative">
                            <label for="password" style="color: #55666D;">Password</label>
                            <input type="password" class="form-control pr-5" name="password" id="csBuilderPassword" placeholder="Enter a password" required>
                            <span class="position-absolute d-flex align-items-center" style="right: 15px; top: 70%; transform: translateY(-50%); cursor: pointer;" onclick="toggleCSBuilderPasswordVisibility()">
                                <i id="csBuilderTogglePasswordIcon" class="fas fa-eye"></i>
                            </span>
                        </div>
                                                                    
                        <br>
                        <div class="form-group">
                            <label for="first_name" style="color: #55666D;">First Name </label>
                            <input type="text" class="form-control" name="first_name" placeholder="Enter your first name" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="last_name" style="color: #55666D;">Last Name</label>
                            <input type="text" class="form-control" name="last_name" placeholder="Enter your last name" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="company" style="color: #55666D;">Company</label>
                            <input type="text" class="form-control" name="company" placeholder="Enter your company name" required>
                        </div>
                        <br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
                    </form>
                    <div class="text-center mt-4">
                        <p>Already have an account? <a href="/login">Log in</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- Closing container div -->

    {% include 'footer.html' %}
    {% include 'scripts.html' %}
    
    <script>
        function toggleSignupPasswordVisibility() {
            const passwordInput = document.getElementById("signupPassword");
            const icon = document.getElementById("signupTogglePasswordIcon");
            
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            } else {
                passwordInput.type = "password";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            }
        }
        
        function toggleCSBuilderPasswordVisibility() {
            const passwordInput = document.getElementById("csBuilderPassword");
            const icon = document.getElementById("csBuilderTogglePasswordIcon");
            
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            } else {
                passwordInput.type = "password";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            }
        }
        </script>
</body>
