{% include 'head.html' %}
<body>
    {% include 'navbar.html' %}

    <div class="container mt-5">
        <!-- Header Section -->
        <header class="teamdetail-background-section text-center text-white py-3">
            <h3 class="team-member-subtitle">Chief Technology Officer</h3>
            <h1 class="team-member-title">Santiago Garcia II</h1>
        </header>

        <!-- Profile Section -->
        <div class="row my-4 align-items-center">
            <div class="col-md-6 d-flex justify-content-center">
                <!-- Profile Image -->
                <img src="{{ url_for('static', filename='images/TEAMDETAIL/sg.png') }}" class="img-fluid rounded-circle" alt="Santiago Garcia II" style="max-width: 100%; height: auto;">
            </div>
            <div class="col-md-6">
                <!-- Bio Section -->
                <div class="text-block">
                    <p><strong>Intro:</strong> Santiago Garcia II is a software engineer specializing in artificial intelligence and machine learning, which are at the forefront of technological advancement. Coming from a robust background with Infosys, a global company boasting over 300,000 employees, Santiago has been pivotal in navigating and contributing to large-scale, innovative projects, marking significant strides in the realms of prompt engineering and deep learning. His expertise has been instrumental in developing solutions that stand at the cutting edge of technology, exceeding industry standards and expectations.</p>
                    
                    <p><strong>Career Journey:</strong> After graduating from Bradley University with a B.Sc. in Computer Science, Santiago refined his aptitude in a broad spectrum of programming languages and frameworks, establishing himself as a versatile and invaluable asset in any tech-centric setting. Since embarking on his journey with Infosys in April 2022, he has led a variety of projects to fruition. One of his notable achievements was a six-month contract with Bank of America, where he significantly enhanced managerial efficiency and codebase maintainability through his comprehensive full-stack development prowess.</p>
                    
                    <p><strong>Personal Life:</strong> Beyond his professional endeavors, Santiago harbors a deep-seated passion for AI. He dedicates his personal time to uncovering the vast potential of AI and machine learning technologies. His commitment extends beyond personal interest, as he actively engages in educating and mentoring emerging talents in the software engineering domain, fostering an environment of knowledge-sharing and collective growth. Outside of work, he is an avid sports enthusiast with a particular fondness for basketball, baseball, and football, which goes beyond mere spectating to an active involvement in the sports community. Additionally, Santiago takes pride in his collection of sports cards and Jordan sneakers, which reflects not only his love for sports but also an appreciation for the stories and history embedded within each item.</p>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
    {% include 'scripts.html' %}
</body>
