{% include 'head.html' %}
<body>
    {% include 'navbar.html' %}

    <div class="container-fluid" style="padding: 0; margin-top: 80px;">
        <div id="pdf-preview" style="width: 33.333%; margin: 0 auto 40px; display: block;">
            <iframe
                src="{{ url_for('static', filename='pdfjs/web/viewer.html') }}?file={{ url_for('static', filename='docs/TermsofUse.pdf') | urlencode }}"
                width="100%"
                height="850px"
                style="border: 1px solid #ccc; border-radius: 4px;">
            </iframe>
        </div>
    </div>

    {% include 'footer.html' %}
    {% include 'scripts.html' %}
</body>
