<footer class="footer" style="background-color: #F2F2F2;">
    <link rel="stylesheet" href="/static/css/buttonFormats.css">
    <style>
        .useButtonLightBlue
        {
            display: block;
            font-size: .9rem;
        }
    </style>
    <div class="container d-flex justify-content-between align-items-center py-4">
        <br>

        <div class="footer-right">
            <a href="/welcome" class="useButtonLightBlue" >Come Back Home</a>
        </div>
       
        

        <div class="footer-right">
            <a href="/login" class="useButtonLightBlue">Log Out</a>
        </div>
        <br>
    </div>
</footer>
