<footer class="footer" style="background-color: #F2F2F2;">
    <link rel="stylesheet" href="/static/css/buttonFormats.css">
    <style>
        .useButtonLightBlue
        {
            display: block;
            font-size: .9rem;
        }
    </style>
    <div class="container d-flex justify-content-between align-items-center py-4">
        <br>
        <div class="footer-right">
            <a href="/smartsearch" class="useButtonLightBlue" >Go To Smart Search</a>
        </div>
        <div class="footer-right">
            <a href="/membershipstatus"class="useButtonLightBlue" >Membership Status</a>
        </div>
        <div class="footer-right">
            <a href="/reset_password" class="useButtonLightBlue" >Reset Password</a>
        </div>
        <br>
    </div>
</footer>
