{% include 'head.html' %}
<body>
    {% include 'navbar.html' %}

    <div class="container mt-5">
        <!-- Header Section -->
        <header class="teamdetail-background-section text-center text-white py-3">
            <h3 class="team-member-subtitle">Artificial Intelligence Specialist Intern</h3>
            <h1 class="team-member-title">Victoria Delgado</h1>
        </header>

        <!-- Profile Section -->
        <div class="row my-4 align-items-center">
            <div class="col-md-6 d-flex justify-content-center">
                <!-- Profile Image -->
                <img src="{{ url_for('static', filename='images/TEAMDETAIL/vs.png') }}" class="img-fluid rounded-circle" alt="Mariana Flores Carranco" style="max-width: 100%; height: auto;">
            </div>
            <div class="col-md-6">
                <!-- Bio Section -->
                <!-- Bio Section -->
                <div class="text-block">
                    <p><strong>Intro:</strong> Victoria Delgado is an undergraduate student at Dominican University. She has explored a variety of academic areas, which helped her discover her interests and led her to major in Computer Science with minors in Biology and Psychology. In the future, she hopes to work for a company dedicated to helping others—just like Contract Radar Maximizer does.</p>
                    <p><strong>Career Journey:</strong> Victoria's career journey began in high school, where she worked as a dishwasher in a busy restaurant. Since then, she has taken on a variety of roles, developing valuable skills such as teamwork and adaptability. She recently started her internship with Contract Radar Maximizer as an AI Specialist Intern. Alongside her internship, Victoria works as a computer science tutor at her university and as a barista.</p>p>
                    <p><strong>Personal Life:</strong> Outside of her studies and work, Victoria enjoys spending time with her loved ones. She often watches movies with her parents while spending time with her two cats. She also enjoys arts and crafts, including painting, drawing, and knitting—her most recent hobby. Her perfect evening would be spent watching a movie with her parents and cats while knitting!</p>
                </div>

            </div>
        </div>
    </div>

    {% include 'footer.html' %}
    {% include 'scripts.html' %}
</body>
