{% include 'head.html' %}
<body>
    {% include 'navbar.html' %}

    <div class="container mt-5">
        <!-- Header Section -->
        <header class="teamdetail-background-section text-center text-white py-3">
            <h3 class="team-member-subtitle">Artificial Intelligence Specialist</h3>
            <h1 class="team-member-title">Zirong Li</h1>
        </header>

        <!-- Profile Section -->
        <div class="row my-4 align-items-center">
            <div class="col-md-6 d-flex justify-content-center">
                <!-- Profile Image -->
                <img src="{{ url_for('static', filename='images/TEAMDETAIL/z.png') }}" class="img-fluid rounded-circle" alt="Zirong Li" style="max-width: 100%; height: auto;">
            </div>
            <div class="col-md-6">
                <!-- Bio Section -->
                <div class="text-block">
                    <p><strong>Intro:</strong> Zirong Li is a dedicated data scientist with a strong foundation in statistics and data science, currently advancing his expertise in computational analysis and public policy at the University of Chicago.</p>
                    <p><strong>Educational Background:</strong> He holds a Bachelor of Science in Statistics and Data Science from the University of California, Los Angeles, where he mastered probabilistic decision-making, computational statistics, and machine learning techniques.</p>
                    <p><strong>Professional Experience:</strong> Zirong has amassed significant experience through internships at Ping An Bank Co., Ltd, and Baidu, Inc., contributing to projects like AI facial recognition systems and customer retention strategies.</p>
                    <p><strong>Technical Skills:</strong> He is proficient in programming languages such as R, Python, and SQL, and has experience with software tools like MS Office, Tableau, and R Shiny.</p>
                    <p><strong>Language Proficiency:</strong> Fluent in both English and Chinese Mandarin, Zirong's diverse skill set makes him a valuable asset in data-driven decision-making and public policy analysis, particularly in health and AI applications.</p>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
    {% include 'scripts.html' %}
</body>
